/* body {
    background-color: brown;
} */

.fancy-body {
    background-image: linear-gradient(45deg, blue, brown, #b2beb5);
    text-align: center;
}

.big-title {
    font-size: 10rem;
    color: yellow;
    font-family: cursive;
    padding-top: 10%;
}